@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0 !important; /* Remove scrollbar space */
  background: transparent !important; /* Optional: just make scrollbar invisible */
}

html,
body {
  overflow-y: hidden !important;
}

body {
  max-height: 100vh;
  height: 100vh;
  background: black;
  font-family: "Roboto", sans-serif;
  overflow-y: hidden;
  color: rgb(50, 207, 142);
}

.bgdark::backdrop {
  transition: background-color 0.5s;
  background: black;
}

.bgLight::backdrop {
  transition: background-color 0.5s;
  background: rgb(171, 171, 171);
}

body::backdrop {
  transition: background-color 0.5s;
  background: black;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgb(23, 23, 23);
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(67, 67, 67);
  border-radius: 16px;
}

/*! DO NOT REMOVE */
#headlessui-portal-root {
  position: relative;
  z-index: 9999;
  width: 100vw;
}

.modalstyles {
  background: rgba(8, 8, 8, 0.24);
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: "▼";
  font-size: 0.52rem;
  top: 55%;
  right: 3%;
  transform: translate(-50%, 50%);
  position: absolute;
}

.flex-auto {
  flex: 0 0 auto;
}

.info-graph {
  position: absolute;
  top: 15.5%;
  right: 1%;
  transform: translate(-10%, -50%);
}

.modal-center {
  position: absolute;
  top: 10%;
  right: 10%;
  transform: translate(-50%, -50%);
}

.last-child-event-line {
  border-image: linear-gradient(to bottom, #dfe6e9 55%, #dfe6e9 50%, rgba(108, 219, 141, 0) 50%);
  border-image-slice: 1;
}

.last-event-line {
  border-image: linear-gradient(to bottom, #dfe6e9 51%, #dfe6e9 50%, rgba(108, 219, 141, 0) 50%);
  border-image-slice: 1;
}

.last-event-line-events {
  border-image: linear-gradient(
    to bottom,
    rgb(55, 60, 75) 50%,
    rgb(55, 60, 75) 50%,
    rgba(108, 219, 141, 0) 50%
  );
  border-image-slice: 1;
}

/* @layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
} */

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .icon {
    @apply h-[22px] w-[22px] cursor-pointer text-textColor hover:text-accent2 dark:hover:text-accent1;
  }

  .modal {
    @apply modal-center modalstyles flex max-h-[470px] min-w-[256px] overflow-y-auto;
  }

  .focus {
    @apply text-accent2;
  }

  .cardBackground {
    background-image: linear-gradient(163deg, #5476ff 0%, #3700ff 100%);
  }

  .cardShadow {
    box-shadow: 0px 0px 30px 1px rgba(69, 139, 220, 0.3);
  }
}
